In [ ]:
import pandas as pd
import re
import string
from collections import Counter
from nltk.corpus import stopwords
import nltk


nltk.download('stopwords')
stop_words = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Dario\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [59]:
df = pd.read_csv("../CivilComments/data.csv")

# parse date column
df["year"] = pd.to_datetime(df["created_date"], errors="coerce").dt.to_period("Y")

c:\Users\Dario\miniconda3\lib\site-packages\pandas\core\arrays\datetimes.py:1143: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  warnings.warn(

In [3]:
df.head(1)

,id,comment_text,split,created_date,publication_id,parent_id,article_id,rating,funny,wow,...,asian,latino,other_race_or_ethnicity,physical_disability,intellectual_or_learning_disability,psychiatric_or_mental_illness,other_disability,identity_annotator_count,toxicity_annotator_count,year
0,1083994,He got his money... now he lies in wait till a...,train,2017-03-06 15:21:53.675241+00,21,NaN,317120,approved,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,67,2017

In [37]:
target = "africon"
s = df["comment_text"].str.contains(target, flags=re.IGNORECASE)
indices = s[s == True].index.tolist()
print(f"Trovati {len(indices)} commenti che contengono la parola '{target}'.")

Trovati 0 commenti che contengono la parola 'africon'.

In [36]:
# retrieve indices of matching rows
indices = s[s == True].index.tolist()
indices

[]

In [28]:
with open("results.txt", "w") as f:
    f.write(df[["comment_text", "year"]].iloc[indices].to_string())

Test Dataset HF

In [ ]:
from tqdm import tqdm
from datasets import load_dataset
from itertools import islice

dataset = load_dataset("enryu43/twitter100m_tweets", split="train", streaming=True)

targets = ["mexicunt", "asshole", "nigger", "faggot"]
count_tweets = 0
MAX_ROWS = 1_500_000

for example in tqdm(islice(dataset, MAX_ROWS), desc="Analizzando tweet..."):
    text = example["tweet"].lower()
    for target in targets:
        if target in text:
            count_tweets += 1